footer {
  background-color: #242428;
}

.footer-hr {
  width: 50%;
  border-color: white;
  opacity: 0.1;
}

.footer-item,
.footer-copyright {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  margin-right: 0px;

  text-decoration: none;
  color: white;
  opacity: 0.3;
}

.footer-item:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.footer-copyright {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.socialButton {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #242428;
  text-align: center;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.25s;
}

@media (max-width: 576px) {
  .socialButton {
    margin-top: 20px;
  }
}

.socialButton:hover {
  color: white;
  opacity: 0.5;
}
